{% extends "page.html" %}

{% block content %}
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/_/voWkliqwq0yKshpRmZL6?src=embed&amp;embed_type=responsive_iframe" title="AI-1# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/_/ISpHU7maqnV0SOMfFP0k?src=embed&amp;embed_type=responsive_iframe" title="New: AI-1.1#" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/_/cWYccF4OkPf2QfKzmW8I?src=embed&amp;embed_type=responsive_iframe" title="New:A-1.2#" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/_/0gBz4QCvLrNw8aN0ppvz?src=embed&amp;embed_type=responsive_iframe" title="New: A1.3#" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/_/bXW87sFluVOvGVGXTSqY?src=embed&amp;embed_type=responsive_iframe" title="New: A1-1.4#" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/_/luhhA1KwFSKa1JMYJC9h?src=embed&amp;embed_type=responsive_iframe" title="New: AI-1.5#" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/0a16a71b-535c-4102-a871-3f22c2e68144?src=embed&amp;embed_type=responsive_iframe" title="AG-2# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/35987552-cc1e-4f05-889a-b9de54395dfd?src=embed&amp;embed_type=responsive_iframe" title="AG-2.1# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/c34fc942-b1b6-4a19-9b2a-24e70bef76d7?src=embed&amp;embed_type=responsive_iframe" title="AG 2.2# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/d5d590e2-72cd-4924-8699-a0eb0c0a5d65?src=embed&amp;embed_type=responsive_iframe" title="AG-2.3# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/d67160f4-b647-460a-a639-f1277d5755cc?src=embed&amp;embed_type=responsive_iframe" title="AG-2.4# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/21db7b63-5ba7-4925-bd21-38ed0b48850b?src=embed&amp;embed_type=responsive_iframe" title="AG-2.5# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/87463ece-9e16-4d89-b727-e9d3bc598b4e?src=embed&amp;embed_type=responsive_iframe" title="AG-2.6#" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/03497a01-5b07-4097-9b59-e634cd6d8760?src=embed&amp;embed_type=responsive_iframe" title="AG-2.7# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/7de74ce7-4606-4bfb-8e34-21a7a1bee449?src=embed&amp;embed_type=responsive_iframe" title="AG-2.8# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/0069c5de-017b-4813-947e-71deea4607db?src=embed&amp;embed_type=responsive_iframe" title="S-3# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/582670c1-5010-4bae-8834-5e5dffaafd0e?src=embed&amp;embed_type=responsive_iframe" title="S-3.1# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/84d1dc25-6ac6-47b7-8cc4-b2484f34d172?src=embed&amp;embed_type=responsive_iframe" title="S-3.2# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>
<div style="position: relative;     max-width: 930px; margin: 40px auto; height: 0px; padding: calc(90% ) 0px 0px; overflow: hidden; will-change: transform;">
<iframe loading="lazy" src="https://e.infogram.com/c9b77620-795c-4a1a-b26d-25f9224fe447?src=embed&amp;embed_type=responsive_iframe" title="S-3.3# - 2025" allowfullscreen="" allow="fullscreen" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none; padding: 0px; margin: 0px;"></iframe>
</div>

{% endblock %}