<footer class="mma-footer">

  <div class="mma-footer-inner">

    <!-- Logo institucional -->
    <div class="mma-footer-logo">
      <img src="{{ h.url_for_static('/images/logo-mma-lineal-white.png') }}" alt="Ministerio del Medio Ambiente">
    </div>

    <!-- Información derecha -->
    <div class="mma-footer-info">
      <p>San Martín 73, Santiago, Chile</p>
      <p>OIRS Subsecretaría: (56-2) 257 35 800</p>

      <div class="mma-footer-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>

      <a href="/user/login" class="mma-footer-link">
        Acceso Avanzado
      </a>
    </div>

  </div>

</footer>
