{% ckan_extends %}

{% block content %}

<section class="sg-hero">
  <div class="sg-hero-inner" style="text-align: left;">
    <h3>Acerca de</h3>

    <p style="text-align: justify; text-justify: inter-word; margin-top: 30px;">El Registro de Emisiones y Transferencias de Contaminantes (RETC), es una base de datos accesible al público, destinada a capturar, recopilar, sistematizar, conservar, analizar y difundir la información sobre emisiones, residuos y transferencias de contaminantes potencialmente dañinos para la salud y el medio ambiente que son emitidos al entorno, generados en actividades industriales o no industriales o transferidos para su valorización o eliminación.</p>
  </div>
</section>
{% endblock %}

{% block footer %}
  {% snippet "snippets/footer.html" %}
{% endblock %}