{% ckan_extends %}

{% block primary_content %}



<main class="mma-results">
    {{ super() }}
  </main>

{% endblock %}

{% block package_search_form %}
<div class="mma-search-top2">
  <form class="search-box" style="max-width:90% !important" action="{{ h.url_for('dataset.search') }}">
      <input
        type="text"
        name="q"
        placeholder="Busca datasets, por ejemplo: Transporte, Salud"
      >
      <button type="submit">
        🔍
      </button>
    </form>
</div>
{% endblock %}
